.link {
   text-align: center;
   padding: 10px;
   border-radius: 20px;
   font-weight: 500;
   min-width: 100px;
   transition: all 0.3s ease 0s;
   @media (any-hover: hover) {
      &:hover {
         background-color: var(--textSoft);
         color: var(--bg);
      }
   }
}
.active {
   background-color: var(--textSoft);
   color: var(--bg);
}
